.container{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    padding-bottom: 2vh;

}

.arrowLeft{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    margin-right: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    width: 2vw;
    height: 9vh;
    cursor: pointer;
}

.arrowRight{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    margin-left: 2vw;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    width: 2vw;
    height: 9vh;
}

.slideContainer{
    width: 75vw;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: hidden;
    border-radius: 15px;
}

@media(max-width: 768px) {
    .container{
        flex-direction: column;
        
    }

    .slideContainer{
        width: 79vw;
        height: 62vh;
        padding-top: 0;
        align-items: center;
    }
    
    .arrowLeft{
        
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        margin-right: 2vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: white;
        width: 9vw;
        height: 4vh;
        cursor: pointer;
    }
    
    .arrowRight{
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        margin-left: 2vw;
        cursor: pointer;
        margin-top: 2vh;
        margin-bottom: 2vh;
        background-color: white;
        width: 9vw;
        height: 4vh;
        top: 0;
    }
}