.container{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65px;
}

.section{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;    
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;

}

.section:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.line{
    border: 2px solid red;
    width: 10px;
    height: 100%;
    background-color: red;
    margin-left: -5px;
}