.cardContainer {
    width: 75vw;
    height: 64vh;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    background-color: #E0E2DB;
    margin-right: 2vw;
    margin-left: 2vw;
    cursor: pointer;
    overflow: hidden;
}


.imageContainer {
    height: 100%;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: contain;
    position: relative;
}

.information {
    width: 0px;
    height: 0px;
    color: black;
    visibility: hidden;
}

.title {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 10px
}

.description {
    font-size: 1.5vw;
    margin-top: 0px;
}

.aboutBttn {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 30vw;
}

.technologies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}

.techTag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 3vw;
    font-weight: bold;
    width: 20vw;
    height: 5vh;
    margin: 1vh;
}

.cardContainer:hover {

    .information {
        -webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-left: -100%;
        visibility: visible;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.5);
    }




}



@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
        height: 70vh;
    }

    .imageContainer {
        width: 100%;
        height: 150px;
        object-fit: fill;
    }

    .text {
        width: 100%;
        height: 30vh;
    }


    .title {
        font-size: 5vw;
        font-weight: bold;
        margin-bottom: 10px;
        height: 10vh;
        width: 100%;
        color: black;
        text-align: center;
    }
}

@media (min-width: 769px) {
    .card {
        flex-direction: row;
        width: 50vw;
        height: 40vh;
        
    }

    .image {
        width: 35%;
        height: 100%;
    }

    .text {
        width: 65%;
        height: 100%;

    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}